/* global variables */
:root {
    /* color */
    --color1: #CCD7F5;
    --color5: hsl(0, 0%, 100%);
    
    /* gradient */
    --gradient: linear-gradient(90deg, #8298E6 0%, #82C7E6 100%);
}

/* progressbar__1 */
@-webkit-keyframes progressLineTransmission1 {
    from {
        width: 4%;
    }

    to {
        width: 95%;
    }
}
@keyframes progressLineTransmission1 {
    from {
        width: 4%;
    }

    to {
        width: 95%;
    }
}

/* progressbar__2 */
@-webkit-keyframes progressLineTransmission2 {
    from {
        width: 4%;
    }

    to {
        width: 76%;
    }
}
@keyframes progressLineTransmission2 {
    from {
        width: 4%;
    }

    to {
        width: 76%;
    }
}

/* progressbar__3 */
@-webkit-keyframes progressLineTransmission3 {
    from {
        width: 4%;
    }

    to {
        width: 80%;
    }
}
@keyframes progressLineTransmission3 {
    from {
        width: 4%;
    }

    to {
        width: 80%;
    }
}

.progressbar__progressBarContainer {
    position: relative;
}

.progressbar__progressBar {
    background-color: var(--color1);
    width: 100%;
    height: 10px;
    border-radius: 50px;

    /* flex */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.progressbar__progressBarRect {
    background-image: var(--gradient);
    height: 100%;
    padding: 2px;
    border-radius: inherit;
    margin-top: 8px;

    /* flex */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.progressbar__1 .progressbar__progressBarRect {
    -webkit-animation: progressLineTransmission1 2.5s 0.3s ease-in-out both;
    animation: progressLineTransmission1 2.5s 0.3s ease-in-out both;
}

.progressbar__2 .progressbar__progressBarRect {
    -webkit-animation: progressLineTransmission2 2.5s 0.3s ease-in-out both;
    animation: progressLineTransmission2 2.5s 0.3s ease-in-out both;
}

.progressbar__3 .progressbar__progressBarRect {
    -webkit-animation: progressLineTransmission3 2.5s 0.3s ease-in-out both;
    animation: progressLineTransmission3 2.5s 0.3s ease-in-out both;
}

.progressbar__progressBarPoint {
    color: var(--color2);
    margin-top: 8px;
    font-size: 12px;
    font-weight: var(--boldFont);
    position: absolute;
}

.progressbar__progressBarPoint--start {
    left: 0;
}

.progressbar__progressBarPoint--end {
    right: 0;
}

.progressbar__text {
    font-size: 12px;
    font-weight: 600;
}

.progressbar__single {
    margin-bottom: 30px;
}



/* media queries - start */
@media (max-width: 861px) {
    @-webkit-keyframes progressLineTransmission {
        from {
            width: 6%;
        }
    
        to {
            width: 81.5%;
        }
    }
    @keyframes progressLineTransmission {
        from {
            width: 6%;
        }
    
        to {
            width: 81.5%;
        }
    }
}


/* Video Player */
.video-card {
    width: 80%;
    /* height: 28vw; */
    position: relative;
    inset: 0;
    margin: 60px auto 60px auto;
    transition: 0.2s ease-out;
  }
  .video-card:hover {
    transform: translate(0, -8px);
    transition: 0.2s ease;
    animation-fill-mode: both;
  }
  @media (max-width: 767px) {
    .video-card {
      width: 75vw;
      height: 45vw;
    }
  }
  .video-card img {
    width: 100%;
    height: 100%;
    border-radius:20px;
    box-shadow: 5px 30px 70px -15px rgba(0,0,0,0.4);
  }
  .video-card .video-play-btn {
    position: absolute;
    z-index: 10;
    inset: 0;
    margin: auto;
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
  }

  .video-play-btn .svg-icon {
    position: absolute;
    z-index: 3;
    width: 40px;
    left: 21px;
  }

  .video-play-btn .svg-icon path {
    fill: #fff;
  }

  .video-card .video-play-btn:before {
    content: "";
    position: absolute;
    z-index: 0;
    inset: 0;
    margin: auto;
    display: block;
    width: 80px;
    height: 80px;
    background: linear-gradient(45deg, #82C7E6 15%, #82C7E6 70%);
    border-radius: 50%;
    -webkit-animation: pulse-border 1500ms ease-out infinite;
    animation: pulse-border 1500ms ease-out infinite;
  }
  .video-card .video-play-btn:after {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    margin: auto;
    display: block;
    width: 80px;
    height: 80px;
    background: linear-gradient(45deg, #82C7E6 15%, #82C7E6 70%);
    border-radius: 50%;
    transition: all 200ms;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  }
  .video-card .video-play-btn:hover:after {
    background-color: #82C7E6;
  }
  
  .video-play-btn span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid #fff;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
  }
  
  @-webkit-keyframes pulse-border {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1.75);
      transform: scale(1.75);
      opacity: 0;
    }
  }
  @keyframes pulse-border {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1.75);
      transform: scale(1.75);
      opacity: 0;
    }
  }

  .m-video-overlay {
    position: fixed;
    z-index: -1;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    opacity: 0;
    transition: all ease 500ms;
  }
  .m-video-overlay.open {
    position: fixed;
    z-index: 999999;
    opacity: 1;
  }
  
  .m-video-overlay-close {
    position: absolute;
    z-index: 9999999;
    top: 15px;
    right: 20px;
    font-size: 36px;
    line-height: 1;
    font-weight: 400;
    color: #fff !important;
    text-decoration: none;
    cursor: pointer;
    transition: all 200ms;
  }

  .m-video-overlay-close:hover {
    color: #11B3D6 !important;
  }
  
  .m-video-overlay iframe {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 80vw;
    height: 47vw;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
    background: #000;
  }




  /* // Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px) { 
  .responsive-breakpoint {background: red;}

  .img-fluid {
    height: 40px !important;
  }

  .topbarr {
    height: 28px !important;
    padding-top: 4px !important;
  }

  .mobile-aside-button {
    line-height: 38px;
    float: right;
  }

  .request-quote-wrap {
    padding-left: 10px !important;
  }

  .home-top-section {
    height: auto !important;
    background-color: #F5F8FA !important;
    background-image: none !important;
    padding-top: 20px !important;
    margin-top: 0px !important;
  }

  .h-price-selecter {
    margin-bottom: 20px;
}

.m-breadcrumb {
  height: 150px !important;
  padding-top: 0px !important;
}

.m-serviceTitle h2 {
  font-size: 32px !important;
}

.m-serviceTitle h3 {
  font-size: 24px !important;
  margin-bottom: 0px !important;
}

.m-breadcrumbTitle {
  font-size: 32px !important;
}

.m-singleWidget img {
  height: 20px;
}

.m-singleWidget .m-footerLogo {
  height: 40px !important;
}

.comparison-table .head-row th {
  font-size: 14px;
  padding: 10px;
}

.comparison-table .body-row th {
  font-size: 14px;
}

.m-service {
  margin-bottom: 20px !important;
}

}






